body{
	background-image: url("../../img/sky.jpg");
    background-attachment:fixed;<!--保持背景不动-->
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: 900;
    font-size: 125%;
}

.nav li {
    float: left;
}

.active{
    background-color:#4CAF50;
}

.nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #555;
}

.nav .dropdown {
    display: inline-block;
    float: right;
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav .dropdown-content a:hover:not(.active) {
	color: white;
	background-color: #555
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

.footer{
    position: absolute; 
    bottom: 0;
}

.introduce table{
    margin: auto;
    width: 100%;
    font-weight: 900;
    font-size: 125%;
    color: white;
}

.introduce td{
    border-radius: 20px;
    background-color:#555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: rgba(85,85,85,0.6);
}

.introduce td:hover{
    background: rgba(85,85,85,0.8);
}

.introduce .center{
    text-align: center;
}

.introduce .left{
    text-align: left;
}

.circlebtn{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: #FAF0E6;
    border-width: 1px;
    border-color: black;
}

.circlebtn:hover{
    background: #FF8C00;
}