body{
	background-image: url("../../img/sky.jpg");
    background-attachment:fixed;<!--保持背景不动-->
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: 900;
    font-size: 125%;
}

.nav li {
    float: left;
}

.active{
    background-color:#4CAF50;
}

.nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #555;
}

.nav .dropdown {
    display: inline-block;
    float: right;
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav .dropdown-content a:hover:not(.active) {
	color: white;
	background-color: #555
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

.searchpane {
    font-size: 125%;
    font-weight: 900%;
}

.searchpane input[type='name'] {
    border-width: 1px;
    width: 200px;
    height: 25px;
    border-radius: 10px; 
    border-color:black;
    width: 600px; 
    background: rgba(85,85,85,0.1);
}

.searchpane textarea{
    border-color:black;
    border-width: 1px;
    border-radius: 10px;
    width: 600px;
    background: rgba(85,85,85,0.1); 
}

.line {
	list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 10px;
    font-weight: 900;
    font-size: 125%;
}

.list table{
    border-radius: 20px;
    background: rgba(85,85,85,0.6);
    width: 100%;  
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list table:hover{
    background: rgba(85,85,85,0.8);
}

.small../img{
    width: 160px;
    height: 160px;
}

.list .smalltitle{
    font-weight: 900;
    font-size: 125%;
}

.list .smallcontent{
    font-weight: 900;
    font-size: 100%;
}

.list p{
overflow: hidden;/*超出部分隐藏*/
text-overflow: ellipsis;/*超出部分显示省略号*/
display: -webkit-box;
-webkit-line-clamp: 2;/*可以写三行*/
-webkit-box-orient: vertical;
margin:5px auto;
}

.bigbutton{
    margin-top:30px; 
    width: 200px;  
    padding:8px;  
    background-color: #333;  
    border-color: #357ebd;  
    color: #fff;  
    border-radius: 10px; 
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:125%; 
}

.bigbutton:hover{
	background-color: #555;
}

.change{
    text-align: center;
    font-size: 125%;
    font-weight: 300;
    padding: 20px;
}

.change .now{
    text-decoration:none;
    color: black;
}

.auxi{
	position: fixed;
	bottom: 50px;
	right: 50px;

}

.circlebtn{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: #FAF0E6;
    border-width: 1px;
    border-color: black;
}

.circlebtn:hover{
    background: #FF8C00;
}